@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  height: 100%; }

img, fieldset, a img {
  border: none; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse; }

html {
  box-sizing: border-box; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("eot"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.icon, .slick-prev,
.slick-next {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon {
  display: inline-block; }

.icon-arrow-left-fill:before {
  content: ""; }

.icon-arrow-left:before {
  content: ""; }

.icon-arrow-right-fill:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.icon-behance:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-vkontakte:before {
  content: ""; }

.icon-go-up:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-vimeo:before {
  content: ""; }

.icon-pinterest:before {
  content: ""; }

.icon-youtube:before {
  content: ""; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  font-size: 0;
  color: #B2B2B2;
  z-index: 4; }
  .slick-prev:before,
  .slick-next:before {
    display: inline-block;
    font-size: 36px; }

.slick-prev {
  left: -36px; }
  .slick-prev:before {
    content: "\EA01"; }

.slick-next {
  right: -36px; }
  .slick-next:before {
    content: "\EA03"; }

html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  touch-action: none; }

.fp-section {
  position: relative;
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent; }
  .fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: scroll; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }
  .fp-slidesNav.bottom {
    bottom: 17px; }
  .fp-slidesNav.top {
    top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }
  #fp-nav ul li,
  .fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative; }
    #fp-nav ul li a,
    .fp-slidesNav ul li a {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none; }
      #fp-nav ul li a.active span,
      .fp-slidesNav ul li a.active span {
        height: 12px;
        width: 12px;
        margin: -6px 0 0 -6px;
        border-radius: 100%; }
        #fp-nav ul li:hover #fp-nav ul li a.active span,
        #fp-slidesNav ul li:hover #fp-nav ul li a.active span, #fp-nav ul li:hover
        .fp-slidesNav ul li a.active span,
        #fp-slidesNav ul li:hover
        .fp-slidesNav ul li a.active span {
          height: 12px;
          width: 12px;
          margin: -6px 0 0 -6px;
          border-radius: 100%; }
      #fp-nav ul li a span,
      .fp-slidesNav ul li a span {
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        height: 4px;
        width: 4px;
        border: 0;
        background: #333;
        left: 50%;
        top: 50%;
        margin: -2px 0 0 -2px;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
    #fp-nav ul li:hover a span,
    .fp-slidesNav ul li:hover a span {
      width: 10px;
      height: 10px;
      margin: -5px 0px 0px -5px; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }
  #fp-nav.right {
    right: 17px; }
  #fp-nav.left {
    left: 17px; }
  #fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0; }
    #fp-nav ul li .fp-tooltip.right {
      right: 20px; }
  #fp-nav ul li:hover .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }
  #fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }

.fp-slidesNav ul li {
  display: inline-block; }

@font-face {
  font-family: Room Thin;
  src: url("../fonts/room-thin.eot");
  src: url("../fonts/room-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/room-thin.woff2") format("woff2"), url("../fonts/room-thin.woff") format("woff"), url("../fonts/room-thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Room Bold;
  src: url("../fonts/room-bold.eot");
  src: url("../fonts/room-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/room-bold.woff2") format("woff2"), url("../fonts/room-bold.woff") format("woff"), url("../fonts/room-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Clear Sans Regular;
  src: url("../fonts/clearsans-regular.eot");
  src: url("../fonts/clearsans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/clearsans-regular.woff2") format("woff2"), url("../fonts/clearsans-regular.woff") format("woff"), url("../fonts/clearsans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  min-width: 320px;
  min-height: 480px;
  font-family: "Room Thin", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #000;
  -webkit-transition: background .7s;
          transition: background .7s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s; }

button {
  background: none; }

a {
  text-decoration: none; }

*::-moz-selection {
  background: rgba(255, 255, 255, 0.2);
  color: #FF7D71; }

*::selection {
  background: rgba(255, 255, 255, 0.2);
  color: #FF7D71; }

.wrapper {
  position: relative;
  height: 100%; }

.center {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 44px; }
  .center_sm {
    width: 1050px; }
    @media only screen and (max-width: 770px) {
      .center_sm {
        width: auto; } }
  .center_the_sm {
    width: 858px; }
    @media only screen and (max-width: 770px) {
      .center_the_sm {
        width: auto; } }

.main {
  position: relative;
  height: 100%;
  background: #B5D6E9;
  overflow: hidden; }
  .lt-ie9 .main {
    background: url(../img/bg-home.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: 50% 50%; }
  @media only screen and (max-width: 700px) {
    .main {
      background: url(../img/bg-home.jpg) no-repeat 0 0;
      background-size: auto 100%;
      background-position: 50% 50%; } }
  .main:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg-dot.png);
    z-index: 2; }
  .main__logo {
    position: absolute;
    top: 9px;
    left: 44px;
    width: 140px;
    height: 60px;
    background: url(../img/logo-black.png) 0 0/cover;
    z-index: 4; }
    @media only screen and (max-width: 767px) {
      .main__logo {
        left: 35px;
        width: 94px;
        height: 40px; } }
  .main__title {
    position: absolute;
    top: 231px;
    right: 116px;
    width: 500px;
    font-size: 40px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    line-height: 1.6;
    z-index: 4; }
    @media only screen and (max-width: 767px) {
      .main__title {
        top: 130px;
        right: 45px;
        width: 150px;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 1.5; } }
  .main__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media only screen and (max-width: 700px) {
      .main__video {
        display: none; } }
    .lt-ie9 .main__video {
      display: none; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 316px;
  background: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .4s;
          transition: transform .4s;
  z-index: 99; }
  .menu .menu__in {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; }
  .menu .menu__in1 {
    position: relative;
    min-height: 600px; }
  .lt-ie9 .menu {
    left: -316px;
    min-height: 600px; }
  @media only screen and (max-width: 767px) {
    .menu {
      width: 274px; } }
  .menu.is-visible {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
    .lt-ie9 .menu.is-visible {
      left: 0; }
  .menu__logo {
    display: block;
    margin-bottom: 100px;
    padding: 0 35px; }
    @media only screen and (max-width: 767px) {
      .menu__logo {
        margin-bottom: 80px;
        padding: 0 27px; } }
    .menu__logo-pic {
      display: block;
      position: relative;
      overflow: hidden; }
      .lt-ie9 .menu__logo-pic {
        background: #fff url(../img/logo1.png) no-repeat 0 0;
        width: 162px;
        height: 61px;
        margin-top: 7px; }
      .menu__logo-pic:before, .menu__logo-pic:after {
        content: "";
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); }
        .lt-ie9 .menu__logo-pic:before, .lt-ie9 .menu__logo-pic:after {
          display: none; }
      .menu__logo-pic:before {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 70px;
        height: 70px;
        background: url(../img/logo-gradient.png) 0 0/cover;
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-animation: logo 2s infinite linear;
                animation: logo 2s infinite linear; }
        .lt-ie9 .menu__logo-pic:before {
          display: none; }
        @media only screen and (max-width: 767px) {
          .menu__logo-pic:before {
            top: 4px;
            left: 0px;
            width: 50px;
            height: 50px; } }
      .menu__logo-pic:after {
        display: block;
        position: relative;
        width: 158px;
        height: 78px;
        background: url(../img/logo.png) 0 0/cover;
        z-index: 2; }
        .lt-ie9 .menu__logo-pic:after {
          display: none; }
        @media only screen and (max-width: 767px) {
          .menu__logo-pic:after {
            width: 106px;
            height: 52px; } }
  .menu__nav {
    padding: 0 120px 40px 40px;
    padding-bottom: 140px;
    *zoom: 1; }
    .menu__nav:after {
      content: " ";
      display: table;
      clear: both; }
    @media only screen and (max-width: 767px) {
      .menu__nav {
        padding: 0 80px 10px 30px; } }
    .menu__nav a {
      display: block;
      margin-bottom: 15px;
      padding: 0 5px;
      font-size: 18px;
      color: #000;
      letter-spacing: 2px;
      vertical-align: top;
      -webkit-transition: background .2s;
              transition: background .2s;
      text-transform: lowercase;
      clear: both; }
      .menu__nav a:hover {
        background: #b5d6ea; }
  .menu__btn {
    position: absolute;
    top: 247px;
    left: 100%;
    width: 56px;
    padding: 0 10px;
    height: 62px;
    background: #000;
    background-color: #000;
    font-size: 0; }
    .lt-ie9 .menu__btn {
      display: block;
      font-size: 14px;
      left: auto;
      right: -56px;
      border: 1px solid #000;
      background-color: #000;
      background: #000 url(../img/nav.png) no-repeat 50% 50%; }
    @media only screen and (max-width: 767px) {
      .menu__btn {
        top: 140px;
        width: 46px;
        height: 50px; } }
    .menu__btn:before, .menu__btn:after {
      content: "";
      position: absolute;
      width: 20px;
      left: 50%;
      margin-left: -10px;
      -webkit-transition: all .4s;
              transition: all .4s; }
    .menu__btn:before {
      top: 25px;
      height: 2px;
      background: #FFF; }
      .lt-ie9 .menu__btn:before {
        display: none; }
      @media only screen and (max-width: 767px) {
        .menu__btn:before {
          top: 19px; } }
    .menu__btn:after {
      top: 30px;
      height: 7px;
      box-shadow: 0 2px 0 0 #fff inset, 0 -2px 0 0 #fff inset; }
      .lt-ie9 .menu__btn:after {
        display: none; }
      @media only screen and (max-width: 767px) {
        .menu__btn:after {
          top: 24px; } }
    .menu__btn_white {
      background: #FFF; }
      .menu__btn_white:before {
        background: #000; }
      .menu__btn_white:after {
        box-shadow: 0 2px 0 0 #000 inset, 0 -2px 0 0 #000 inset; }
    .lt-ie9 .menu__btn.is-active {
      background: #000 url(../img/close.png) no-repeat 50% 50%; }
    .menu__btn.is-active:before, .menu__btn.is-active:after {
      top: 30px; }
      @media only screen and (max-width: 767px) {
        .menu__btn.is-active:before, .menu__btn.is-active:after {
          top: 24px; } }
    .menu__btn.is-active:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .menu__btn.is-active:after {
      height: 2px;
      -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
              transform: rotate(135deg); }
  .menu__foot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px 44px 42px; }
    @media only screen and (max-width: 767px) {
      .menu__foot {
        position: relative;
        padding: 0 30px 20px; } }
  .menu__contacts {
    position: relative;
    margin-bottom: 35px;
    padding-top: 17px; }
    @media only screen and (max-width: 767px) {
      .menu__contacts {
        margin-bottom: 15px; } }
    .menu__contacts:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      height: 1px;
      background: #B5D6EA; }
  .menu__phone, .menu__mail {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #B5D7EA;
    letter-spacing: 1px; }
  .menu__phone {
    margin: 0 0 6px -4px; }
  .menu__lang {
    font-size: 0; }
    .menu__lang li {
      display: inline-block;
      margin-right: 50px; }
      .menu__lang li.active a {
        border-bottom: 1px solid;
        cursor: default; }
    .menu__lang a {
      display: inline-block;
      padding: 3px 0;
      font-size: 16px;
      color: #888A8C;
      vertical-align: top; }
    .menu__lang span {
      display: block;
      width: 20px;
      height: 17px;
      text-transform: lowercase;
      text-align: center;
      word-break: break-all;
      overflow: hidden; }

@-webkit-keyframes logo {
  0 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes logo {
  0 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.header {
  height: 78px;
  *zoom: 1; }
  .header:after {
    content: " ";
    display: table;
    clear: both; }
  @media only screen and (max-width: 767px) {
    .header {
      height: auto; } }
  .header__logo {
    float: left;
    position: relative;
    margin-left: -9px;
    overflow: hidden; }
    .lt-ie9 .header__logo {
      background: #fff url(../img/logo1.png) no-repeat 0 0;
      width: 162px;
      height: 62px;
      margin-top: 7px; }
    .header__logo:before, .header__logo:after {
      content: "";
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
    .header__logo:before {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 70px;
      height: 70px;
      background: url(../img/logo-gradient.png) 0 0/cover;
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-animation: logo 2s infinite linear;
              animation: logo 2s infinite linear; }
      @media only screen and (max-width: 767px) {
        .header__logo:before {
          top: 4px;
          left: 0px;
          width: 50px;
          height: 50px; } }
    .header__logo:after {
      display: block;
      position: relative;
      width: 158px;
      height: 78px;
      background: url(../img/logo.png) 0 0/cover;
      z-index: 2; }
      @media only screen and (max-width: 767px) {
        .header__logo:after {
          width: 106px;
          height: 52px; } }

.nav {
  height: 38px;
  padding: 5px 0 5px 13px;
  text-align: justify;
  font-size: 0; }
  .nav:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden; }
  @media only screen and (max-width: 770px) {
    .nav {
      text-align: left; } }
  .nav.beer .nav__beer {
    background: #fcde88;
    cursor: default; }
  .nav.alcohol .nav__alcohol {
    background: #562040;
    color: #fff;
    cursor: default; }
  .nav.beverages .nav__beverages {
    background: #91a5bd;
    cursor: default; }
  .nav.souvenirs .nav__souvenirs {
    background: #c7dea9;
    cursor: default; }
  .nav__title, .nav__link {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: lowercase; }
  .nav__title {
    margin-right: 25px;
    font-family: "Room Bold", Arial, sans-serif; }
    @media only screen and (max-width: 400px) {
      .nav__title {
        font-size: 10px;
        display: none; } }
  .nav .select {
    display: none;
    position: relative;
    width: 180px;
    height: 22px; }
    .nav .select .select__value {
      display: block;
      background: #91a5bd;
      font-size: 15px;
      color: #fff;
      height: 22px;
      padding-left: 13px;
      line-height: 22px;
      -webkit-transition: .3s linear background;
              transition: .3s linear background; }
      .fp-viewing-beer .nav .select .select__value {
        background: #fcde88; }
      .fp-viewing-alcohol .nav .select .select__value {
        background: #562040; }
      .fp-viewing-beverages .nav .select .select__value {
        background: #91a5bd; }
      .fp-viewing-souvenirs .nav .select .select__value {
        background: #c7dea9; }
      .nav .select .select__value i {
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
        position: absolute;
        right: 5px;
        top: 3px; }
    .nav .select select {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      width: 100%;
      height: 100%; }
    @media only screen and (max-width: 770px) {
      .nav .select {
        display: inline-block; } }
  .nav__link {
    padding: 2px 15px 3px;
    color: #000;
    -webkit-transition: background .2s;
            transition: background .2s; }
    @media only screen and (max-width: 1023px) {
      .nav__link {
        padding: 2px 8px 3px; } }
    @media only screen and (max-width: 770px) {
      .nav__link {
        display: none; } }
    .nav__link:last-child {
      margin: 0; }
    .nav__link:nth-of-type(1).is-active {
      background: #fcde88;
      cursor: default; }
    .nav__link:nth-of-type(2).is-active {
      background: #562040;
      color: #fff;
      cursor: default; }
    .nav__link:nth-of-type(3).is-active {
      background: #91a5bd;
      cursor: default; }
    .nav__link:nth-of-type(4).is-active {
      background: #c7dea9;
      cursor: default; }

.top {
  position: relative;
  background: #FFF;
  z-index: 99; }

.fp-viewing-beer {
  background: #fcde88; }
  .fp-viewing-beer .nav__beer {
    background: #fcde88;
    cursor: default; }

.fp-viewing-alcohol {
  background: #562040; }
  .fp-viewing-alcohol .nav__alcohol {
    background: #562040;
    color: #fff;
    cursor: default; }

.fp-viewing-beverages {
  background: #91a5bd; }
  .fp-viewing-beverages .nav__beverages {
    background: #91a5bd;
    cursor: default; }

.fp-viewing-souvenirs {
  background: #c7dea9; }
  .fp-viewing-souvenirs .nav__souvenirs {
    background: #c7dea9;
    cursor: default; }

.fp__section {
  height: 100% !important;
  opacity: 0;
  -webkit-transition: opacity .2s;
          transition: opacity .2s; }
  @media only screen and (max-width: 767px) {
    .fp__section {
      opacity: 1; } }
  .fp__section.active {
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
    opacity: 1; }
    @media only screen and (max-width: 767px) {
      .fp__section.active {
        -webkit-transition-delay: 0s;
                transition-delay: 0s; } }
    .fp__section.active .product__title, .fp__section.active .product__text, .fp__section.active .product__btn {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      opacity: 1; }

.product {
  position: relative;
  min-height: 100%;
  padding: 43px 0 162px;
  padding-bottom: 0; }
  @media only screen and (max-width: 770px) {
    .product {
      padding-bottom: 40px;
      padding-top: 10px; } }
  .product__content {
    position: relative;
    width: 38%;
    margin-left: 62%;
    padding: 50px 0;
    *zoom: 1;
    z-index: 2; }
    .product__content:after {
      content: " ";
      display: table;
      clear: both; }
    @media only screen and (max-width: 767px) {
      .product__content {
        width: 100%;
        margin: 0;
        padding-left: 15px;
        width: auto;
        padding-top: 10px; } }
  .product__title, .product__text, .product__btn {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all .4s;
            transition: all .4s;
    opacity: 0; }
  .product__title {
    margin-bottom: 30px;
    font-size: 40px;
    letter-spacing: 3px;
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
    text-transform: uppercase; }
    @media only screen and (max-width: 767px) {
      .product__title {
        margin-bottom: 15px;
        font-size: 20px; } }
    @media only screen and (max-width: 600px) {
      .product__title {
        width: 50%; } }
  .product__text {
    margin-bottom: 50px;
    font-family: "Clear Sans Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    -webkit-transition-delay: .9s;
            transition-delay: .9s; }
    @media only screen and (max-width: 767px) {
      .product__text {
        margin-bottom: 35px;
        font-size: 12px; } }
    .product__text p {
      margin-bottom: 25px; }
      @media only screen and (max-width: 767px) {
        .product__text p {
          margin-bottom: 15px; } }
  .product__btn {
    float: right; }
    @media only screen and (max-width: 767px) {
      .product__btn {
        float: left; } }
  .lt-ie9 .product .btn_projects {
    width: 140px;
    height: 36px;
    background: transparent url(../img/projects.png) no-repeat 0 0; }
  .product .btn_download {
    height: 28px;
    width: 28px;
    background: transparent url(../img/down.png) no-repeat 0 0;
    -webkit-transition-delay: 0;
            transition-delay: 0;
    -webkit-transition: none;
            transition: none; }
    .product .btn_download * {
      display: none; }
    .product .btn_download .icon-download {
      display: none; }
    .product .btn_download:hover {
      background: transparent url(../img/down_hover.png) no-repeat 0 0;
      -webkit-transition-delay: 0;
              transition-delay: 0;
      -webkit-transition: none;
              transition: none; }
  .product__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 115px;
    right: 32%;
    background-size: contain !important;
    background-position: 10% 50% !important; }
    @media only screen and (max-width: 767px) {
      .product__bg {
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        top: auto;
        width: 100%;
        height: 200px;
        height: 40vh;
        margin: 0;
        background-position: 50% 50% !important;
        background-size: contain; } }
  .product_beer .product__back,
  .product_alcohol .product__back,
  .product_beverages .product__back,
  .product_souvenirs .product__back,
  .product_horeca .product__back {
    color: #FFF; }
  .product_beer {
    background: #fcde88; }
  .product_beer .product__bg {
    background: url(../img/bg-beer1.jpg) no-repeat 33% 0%; }
    @media only screen and (max-width: 767px) {
      .product_beer .product__bg {
        background: url(../img/bg-beer1.jpg) no-repeat 0 0/contain; } }
  .product_alcohol {
    background: #562040;
    color: #fff; }
  .product_alcohol .product__bg {
    background: url(../img/bg-alcohol1.jpg) no-repeat 15% 0%; }
    @media only screen and (max-width: 767px) {
      .product_alcohol .product__bg {
        background: url(../img/bg-alcohol1.jpg) no-repeat 0 0/contain; } }
  .product_beverages {
    background: #91a5bd; }
  .product_beverages .product__bg {
    background: url(../img/bg-drinks1.jpg) no-repeat 32% 0%; }
    @media only screen and (max-width: 767px) {
      .product_beverages .product__bg {
        background: url(../img/bg-drinks1.jpg) no-repeat 0 0/contain; } }
  .product_souvenirs {
    background: #c7dea9; }
  .product_souvenirs .product__title {
    padding-top: 7px;
    line-height: 1; }
  .product_souvenirs .product__bg {
    background: url(../img/bg-souvenirs1.jpg) no-repeat 37% 0%; }
    @media only screen and (max-width: 767px) {
      .product_souvenirs .product__bg {
        background: url(../img/bg-souvenirs1.jpg) no-repeat 0 0/contain; } }
  .product_horeca {
    background: #0d1215;
    color: #FFF; }

.btn {
  display: inline-block;
  padding: 7px 7px 7px 20px;
  background: #FFF;
  border-radius: 18px;
  font-size: 0;
  color: #000;
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
  vertical-align: top; }
  @media only screen and (max-width: 767px) {
    .btn {
      padding: 5px 5px 5px 15px; } }
  .btn__title, .btn__icon {
    display: inline-block;
    vertical-align: middle; }
  .btn__title {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 2px; }
    @media only screen and (max-width: 767px) {
      .btn__title {
        font-size: 14px;
        line-height: 17px; } }
  .btn__icon {
    margin-left: 20px; }
    @media only screen and (max-width: 767px) {
      .btn__icon {
        margin-left: 15px; } }
    .btn__icon .icon {
      font-size: 22px; }
      @media only screen and (max-width: 767px) {
        .btn__icon .icon {
          font-size: 17px; } }

.back {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 0;
  vertical-align: top;
  color: #000; }
  .back .icon {
    font-size: 36px; }

.title {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 4px;
  text-transform: uppercase; }

.list {
  margin: 0 -2px;
  font-size: 0; }

.item {
  display: inline-block;
  position: relative;
  margin: 0 2px 4px;
  vertical-align: top;
  overflow: hidden;
  min-width: 318px;
  min-height: 357px; }
  .item__pic {
    max-width: 100%;
    display: block;
    -webkit-transition: all .2s linear;
            transition: all .2s linear;
    filter: none;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0'); }
  .item__title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: -70px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    color: #000;
    -webkit-transition: all .2s linear;
            transition: all .2s linear;
    opacity: 0;
    text-transform: lowercase; }
    .lt-ie9 .item__title {
      opacity: 1;
      display: none;
      margin-bottom: 0; }
  .item:hover .item__pic {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transition: all .2s linear;
            transition: all .2s linear;
    filter: none;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px); }
    .lt-ie9 .item:hover .item__pic {
      width: 90%;
      margin-top: 5%;
      margin-left: 5%; }
  .item:hover .item__title {
    -webkit-transition: all .2s linear;
            transition: all .2s linear;
    opacity: 1;
    margin-bottom: 0; }
    .lt-ie9 .item:hover .item__title {
      display: block; }

.brands {
  height: 84px;
  background: #DFDFDF;
  font-size: 0;
  text-align: center;
  overflow: hidden; }
  .brands__list {
    width: 888px;
    margin: 0 auto; }
    @media only screen and (max-width: 770px) {
      .brands__list {
        width: auto; } }
    .brands__list:before, .brands__list:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 40px;
      z-index: 2; }
    .brands__list:before {
      left: 0;
      background-image: -webkit-linear-gradient(right, rgba(223, 223, 223, 0), #DFDFDF);
      background-image: linear-gradient(to left, rgba(223, 223, 223, 0), #DFDFDF); }
    .brands__list:after {
      right: 0;
      background-image: -webkit-linear-gradient(right, #DFDFDF, rgba(223, 223, 223, 0));
      background-image: linear-gradient(to left, #DFDFDF, rgba(223, 223, 223, 0)); }
  .brands__link {
    display: block;
    height: 84px;
    padding: 10px 40px;
    text-align: center;
    font-size: 0; }
    .brands__link:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%; }
  .no-ie .brands__link:hover .brands__pic {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%); }
  .brands__item.is-active {
    background: #FFF; }
  .brands__item.is-active .brands__link {
    cursor: default; }
  .brands__item.is-active .brands__pic {
    opacity: 1;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%); }
  .brands__pic {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    opacity: 1; }
  .no-ie .brands__pic {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
    opacity: .7; }
  .no-retina .brands .slick-prev {
    background: transparent; }
    .no-retina .brands .slick-prev:before {
      content: '';
      background: url(../img/prev.png) no-repeat 50% 50%;
      height: 36px;
      width: 36px;
      display: block; }
  .no-retina .brands .slick-next {
    background: transparent; }
    .no-retina .brands .slick-next:before {
      content: '';
      background: url(../img/next.png) no-repeat 50% 50%;
      height: 36px;
      width: 36px;
      display: block; }

.services__row {
  *zoom: 1; }
  .services__row:after {
    content: " ";
    display: table;
    clear: both; }

.even .services__col {
  float: right; }
  @media only screen and (max-width: 770px) {
    .even .services__col {
      float: none; } }

.even .services__content {
  float: left;
  width: 456px;
  padding-left: 70px; }
  @media only screen and (max-width: 770px) {
    .even .services__content {
      float: none;
      width: auto;
      padding-left: 60px; } }

.services__col {
  float: left;
  width: 50%;
  height: 420px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  vertical-align: top; }
  @media only screen and (max-width: 770px) {
    .services__col {
      width: auto;
      float: none;
      height: auto; } }
  @media only screen and (max-width: 770px) {
    .services__col[style] {
      width: 100%;
      height: 0;
      padding-bottom: 40%;
      float: none; } }

.services__content {
  float: right;
  width: 446px;
  padding: 40px 60px; }
  @media only screen and (max-width: 770px) {
    .services__content {
      float: none;
      width: auto;
      height: auto;
      padding: 20px 60px; } }

.services__title {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 2px; }
  @media only screen and (max-width: 600px) {
    .services__title {
      font-size: 27px; } }

.services__text {
  font-family: "Clear Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4; }
  .services__text p {
    margin-bottom: 22px; }

.contacts {
  padding-bottom: 100px; }
  .contacts #map {
    height: 415px; }
    @media only screen and (max-width: 770px) {
      .contacts #map {
        height: 200px; } }
  @media only screen and (max-width: 770px) {
    .contacts {
      padding-bottom: 20px; } }
  .contacts__map {
    margin-bottom: 70px;
    height: 415px; }
    @media only screen and (max-width: 770px) {
      .contacts__map {
        margin-bottom: 30px;
        height: 200px; } }
  .contacts__row {
    *zoom: 1; }
    .contacts__row:after {
      content: " ";
      display: table;
      clear: both; }
  .contacts__left {
    float: left; }
    @media only screen and (max-width: 770px) {
      .contacts__left {
        float: none;
        margin-bottom: 20px; } }
  .contacts__right {
    float: right; }
    @media only screen and (max-width: 770px) {
      .contacts__right {
        float: none; } }
  .contacts__item {
    margin-bottom: 10px; }
  .contacts__phone, .contacts__mail {
    display: inline-block;
    line-height: 1;
    color: #000; }
  .contacts__phone {
    margin-left: -17px;
    font-size: 28px; }
  .contacts__mail {
    font-size: 26px; }
  .contacts__address {
    font-family: "Clear Sans Regular", Arial, sans-serif;
    font-size: 14px; }

.social {
  font-size: 0; }
  .social__link {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-left: 8px;
    background: #D3D2D2;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    font-size: 0;
    color: #fff; }
    .social__link:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%; }
    .social__link:first-child {
      margin: 0; }
    .social__link .icon {
      font-size: 16px;
      vertical-align: middle; }
    .social__link .icon-vkontakte {
      font-size: 10px; }
    .social__link .icon-behance {
      font-size: 12px; }
    .social__link .icon-linkedin {
      padding-bottom: 2px;
      font-size: 15px; }
    .social__link .icon-facebook {
      font-size: 16px; }

.about {
  margin-bottom: 82px;
  padding: 250px 0 70px;
  background: url(../img/bg-about.jpg) 50% 50%;
  background-size: cover;
  color: #fff; }
  @media only screen and (max-width: 770px) {
    .about {
      padding: 60px 0 40px 30px;
      margin-bottom: 40px; } }
  .about__content + .about__content {
    margin-top: 40px; }
  .about__title {
    font-size: 26px;
    line-height: 1.2; }
  .about__text {
    font-family: "Clear Sans Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6; }
  .about__text + .about__title {
    margin-top: 13px; }

.team {
  margin-bottom: 120px; }
  @media only screen and (max-width: 770px) {
    .team {
      margin-bottom: 40px; } }
  .team__title {
    margin-bottom: 50px;
    font-size: 26px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase; }
    .team__title .icon {
      display: none;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }
      @media only screen and (max-width: 770px) {
        .team__title .icon {
          display: inline-block;
          vertical-align: middle; } }
  .team__list {
    font-size: 0;
    text-align: center; }
    .lt-ie9 .team__list {
      width: 100%;
      zoom: 1;
      overflow: hidden; }
    @media only screen and (max-width: 770px) {
      .team__list {
        display: none; } }
  .team__item {
    display: inline-block;
    width: 223px;
    margin: 0 25px 58px;
    vertical-align: top; }
    .lt-ie9 .team__item {
      display: inline;
      zoom: 1;
      display: inline-block; }
  .team__item:hover .team__photo-emotion {
    opacity: 1; }
    .lt-ie9 .team__item:hover .team__photo-emotion {
      display: block;
      z-index: 10; }
  .team__ava {
    position: relative;
    margin-bottom: 16px;
    font-size: 0; }
  .team__photo-emotion {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: opacity .2s;
            transition: opacity .2s; }
    .lt-ie9 .team__photo-emotion {
      opacity: 1;
      display: none; }
  .team__name {
    margin-bottom: 5px;
    font-family: "Room Bold", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .team__position {
    font-family: "Clear Sans Regular", Arial, sans-serif;
    font-size: 12px;
    color: #5D5D5D;
    text-transform: uppercase; }
  .team__content {
    font-family: "Clear Sans Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.7; }
    @media only screen and (max-width: 770px) {
      .team__content {
        display: none; } }

.client__title {
  margin-bottom: 50px;
  font-size: 26px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase; }

.client__content {
  margin-bottom: 50px;
  font-family: "Clear Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7; }

.client__bg {
  background: #DFDFDF; }

.client__list {
  padding: 0 155px;
  font-size: 0; }
  .lt-ie9 .client__list {
    width: 100%;
    overflow: hidden;
    zoom: 1;
    padding-bottom: 50px; }
  @media only screen and (max-width: 770px) {
    .client__list {
      padding: 20px 50px; } }

.client__item {
  display: inline-block;
  width: 25%;
  text-align: center;
  vertical-align: middle; }
  .lt-ie9 .client__item {
    display: inline;
    zoom: 1;
    width: 23%;
    float: left;
    text-align: center;
    height: 120px; }
  @media only screen and (max-width: 620px) {
    .client__item {
      width: 50%; } }

.client__link {
  display: block;
  padding: 40px 20px; }
  @media only screen and (max-width: 400px) {
    .client__link {
      padding: 20px 20px; } }

.client__link:hover .client__logo {
  opacity: 1;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%); }
  .lt-ie10 .client__link:hover .client__logo {
    -webkit-filter: none;
            filter: none; }

.client__logo {
  max-width: 100%;
  max-height: 100%;
  opacity: .7;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
  -webkit-transition: all .2s;
          transition: all .2s; }
  .lt-ie10 .client__logo {
    -webkit-filter: none;
            filter: none;
    opacity: 1; }

.go {
  padding: 55px 0;
  text-align: center; }
  .go__btn {
    font-size: 0;
    color: #7F7F7F; }
    .go__btn .icon {
      font-size: 64px; }

.horeca {
  position: relative;
  min-height: 940px;
  overflow: hidden; }
  @media only screen and (max-width: 770px) {
    .horeca {
      min-height: 100vh;
      background: #0d1315 url(../img/bg-horeca_m.jpg) no-repeat 0 0;
      background-size: 100% auto; } }
  .horeca__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1920px;
    height: 1600px;
    margin: -815px 0 0 -959px;
    background: url(../img/bg-horeca.jpg) no-repeat 0 0 #0d1315;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    -webkit-animation: bg 2s forwards;
            animation: bg 2s forwards; }
    @media only screen and (max-width: 770px) {
      .horeca__bg {
        display: none; } }
  .horeca__wrap {
    position: relative;
    padding: 240px 200px 240px 245px;
    *zoom: 1;
    z-index: 2; }
    .horeca__wrap:after {
      content: " ";
      display: table;
      clear: both; }
    @media only screen and (max-width: 770px) {
      .horeca__wrap {
        padding: 100px 0  0 40px; } }
  .horeca__content {
    min-height: 270px;
    margin-bottom: 50px;
    font-size: 40px;
    color: #fff;
    line-height: 1; }
    @media only screen and (max-width: 770px) {
      .horeca__content {
        font-size: 20px;
        min-height: auto;
        margin-bottom: 20px; } }
    .horeca__content p {
      margin-bottom: 40px; }
  .horeca__btn {
    float: right; }
    @media only screen and (max-width: 770px) {
      .horeca__btn {
        float: left; } }

@-webkit-keyframes bg {
  0 {
    -webkit-transform: scale(2);
            transform: scale(2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes bg {
  0 {
    -webkit-transform: scale(2);
            transform: scale(2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.subscribe {
  position: absolute;
  top: 0;
  left: 50%;
  width: 500px;
  height: 90px;
  margin-left: -250px;
  padding: 18px 40px;
  background: #CCE3F1;
  text-align: center; }
  @media only screen and (max-width: 550px) {
    .subscribe {
      width: auto;
      position: relative;
      top: 0;
      left: 0;
      margin: 0;
      height: auto;
      padding: 18px 20px; } }
  .no-subscribe .subscribe {
    display: none; }
  .subscribe__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
    background: #B7CCD8;
    color: #cce3f1;
    font-size: 0;
    -webkit-transition: background .2s;
            transition: background .2s; }
    .subscribe__close:hover {
      background: #000; }
    .subscribe__close .icon {
      font-size: 16px; }
  .subscribe__title {
    margin-bottom: 10px;
    font-size: 13px;
    text-transform: uppercase; }
  .subscribe__form {
    font-size: 0;
    text-align: center; }
    .subscribe__form p {
      display: inline-block;
      font-size: 14px; }
  .subscribe__input, .subscribe__btn,
  .subscribe input[type=text],
  .subscribe input {
    display: inline-block;
    vertical-align: middle; }
  .subscribe__input, .subscribe input[type=text] {
    width: 190px;
    height: 28px;
    padding: 0 12px;
    border: 1px solid #C2C2C2;
    font-size: 14px;
    line-height: 28px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    text-align: center; }
    .subscribe__input:focus, .subscribe input[type=text]:focus {
      background: rgba(255, 255, 255, 0.4); }
    @media only screen and (max-width: 550px) {
      .subscribe__input, .subscribe input[type=text] {
        width: 180px; } }
  .subscribe label {
    display: none; }
  .subscribe br {
    display: none; }
  .subscribe__btn {
    height: 28px;
    padding: 0 12px;
    font-size: 14px;
    -webkit-transition: all .2s;
            transition: all .2s;
    background: transparent;
    margin-right: -76px;
    opacity: 0; }
    .subscribe__btn:hover {
      background: #000;
      color: #FFF; }
      .subscribe__btn:hover .subscribe__btn-icon {
        color: #ff7e72; }
    .subscribe__btn-title, .subscribe__btn-icon {
      display: inline-block;
      vertical-align: middle; }
    .subscribe__btn-title {
      padding-bottom: 4px;
      font-size: 14px; }
    .subscribe__btn-icon {
      margin-left: 10px; }
      .subscribe__btn-icon .icon {
        font-size: 22px; }

.blog {
  min-height: 940px;
  background: #b5d6ea; }
  .blog__center {
    position: relative;
    max-width: 1088px;
    padding-top: 108px; }
    @media only screen and (max-width: 600px) {
      .blog__center {
        padding: 0 !important; } }
    .no-subscribe .blog__center {
      padding-top: 50px; }
  .blog__wrap {
    padding: 55px 25px;
    background: #FFF; }
  .blog__l {
    display: table;
    width: 100%;
    table-layout: fixed; }
  .blog__section, .blog__aside {
    display: table-cell;
    vertical-align: top; }
    @media only screen and (max-width: 770px) {
      .blog__section, .blog__aside {
        width: auto;
        display: block; } }
  .blog__section {
    padding-right: 20px; }
    @media only screen and (max-width: 550px) {
      .blog__section {
        padding-right: 0; } }
  .blog__aside {
    width: 310px;
    padding-left: 20px;
    border-left: 1px solid #c2c2c2; }
    @media only screen and (max-width: 770px) {
      .blog__aside {
        width: auto;
        display: block;
        border-left: none;
        padding-left: 0; } }
  .blog__list {
    margin: 0 -10px;
    font-size: 0; }
  .blog__item {
    display: inline-block;
    width: 50%;
    margin-bottom: 40px;
    padding: 0 10px;
    vertical-align: top; }
    @media only screen and (max-width: 550px) {
      .blog__item {
        width: auto;
        display: block; } }

.article {
  display: block;
  color: #000; }
  .article__pic {
    font-size: 0; }
    .article__pic-el {
      max-width: 100%; }
  .article__title {
    position: relative;
    max-width: 210px;
    margin-top: -25px;
    padding: 10px 10px 10px 0;
    background: #FFF;
    font-family: "Room Bold", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase; }
  .article__text {
    margin-bottom: 10px;
    font-family: "Clear Sans Regular", Arial, sans-serif;
    font-size: 14px;
    color: #4C4C4C;
    line-height: 1.6; }
  .article__foot {
    *zoom: 1; }
    .article__foot:after {
      content: " ";
      display: table;
      clear: both; }
  .article__date {
    float: left;
    margin-top: 3px;
    font-family: "Clear Sans Regular", Arial, sans-serif;
    font-size: 12px;
    color: #B2B2B2; }
  .article__more {
    float: right;
    font-size: 22px; }

.search {
  position: relative;
  margin-bottom: 25px; }
  .search_mobile {
    display: none; }
    @media only screen and (max-width: 550px) {
      .search_mobile {
        display: block; } }
  @media only screen and (max-width: 550px) {
    .search_desktop {
      display: none; } }
  .search__input {
    width: 100%;
    height: 35px;
    padding: 0 45px 0 12px;
    border: 1px solid #C2C2C2;
    font-size: 14px; }
  .search__btn {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 33px;
    height: 33px;
    background: #000;
    font-size: 0;
    color: #fff; }
    .search__btn .icon {
      font-size: 19px; }

.widget {
  margin-bottom: 25px; }
  @media only screen and (max-width: 770px) {
    .widget > * {
      width: 100% !important; } }

.pop {
  margin-bottom: 25px; }
  .pop__head {
    display: inline-block;
    padding: 10px 20px;
    background: #b5d6ea;
    font-family: "Room Bold", Arial, sans-serif;
    font-size: 16px;
    color: #FFF;
    vertical-align: top;
    text-transform: uppercase; }
  .pop__list {
    margin-top: -1px;
    padding: 15px;
    border: 1px solid #c2c2c2; }
  .pop__item {
    display: block;
    margin-bottom: 15px; }
  .pop__pic {
    float: left;
    width: 55px;
    margin-right: 10px;
    font-size: 0; }
    .pop__pic-el {
      max-width: 100%; }
  .pop__title {
    margin-bottom: 10px;
    font-family: "Room Bold", Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #000; }
  .pop__date {
    font-family: "Clear Sans Regular", Arial, sans-serif;
    font-size: 12px;
    color: #B2B2B2; }

.content {
  margin-bottom: 50px; }
  .content__title {
    margin-bottom: 26px;
    font-family: "Room Bold", Arial, sans-serif;
    font-size: 26px;
    text-transform: uppercase; }
  .content__pic {
    margin-bottom: 15px;
    font-size: 0; }
    .content__pic-el {
      max-width: 100%; }
  .content__date {
    margin-bottom: 25px;
    font-family: "Clear Sans Regular", Arial, sans-serif;
    font-size: 12px;
    color: #B2B2B2; }
  .content__text {
    font-family: "Clear Sans Regular", Arial, sans-serif;
    font-size: 14px;
    color: #4C4C4C;
    line-height: 1.6; }
    .content__text p {
      margin-bottom: 15px; }
    .content__text a {
      color: #fc6104;
      text-decoration: underline; }
      .content__text a:hover {
        text-decoration: none; }

.icon-download {
  width: 22px;
  height: 22px;
  display: inline-block;
  background: url(../img/download.png) no-repeat 0 0; }
  .lt-ie9 .icon-download {
    display: inline;
    zoom: 1; }

.fancybox-overlay {
  background: transparent !important; }

.ov {
  position: fixed;
  top: 200px;
  left: 200px;
  bottom: 200px;
  right: 200px;
  background: #fff;
  z-index: 8000;
  -webkit-transition: all .3s linear;
          transition: all .3s linear;
  opacity: 1; }
  .is-souvenirs .ov {
    background-color: #c7dea9; }
  .is-beer .ov {
    background-color: #fcde88; }
  .is-alcohol .ov {
    background-color: #562040; }
  .is-beverages .ov {
    background-color: #91a5bd; }
  .is-horeca .ov {
    background-color: #000; }

.gogo {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1; }

.btn_download {
  clear: both;
  margin-top: 10px;
  padding: 7px !important; }
  .lt-ie9 .btn_download * {
    float: right; }
  .lt-ie9 .btn_download {
    display: inline;
    zoom: 1;
    float: right; }
  .btn_download .btn__title {
    display: none; }
  .btn_download .btn__icon {
    margin-left: 0; }
    .lt-ie9 .btn_download .btn__icon {
      display: inline;
      zoom: 1;
      float: right; }

.content-wrapper {
  -webkit-transition: -webkit-transform .4s;
          transition: transform .4s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0); }
  .lt-ie9 .content-wrapper {
    position: relative; }
  .is-menu .content-wrapper {
    -webkit-transform: translate(315px, 0);
        -ms-transform: translate(315px, 0);
            transform: translate(315px, 0);
    -webkit-transition: -webkit-transform .4s;
            transition: transform .4s; }
    @media only screen and (max-width: 767px) {
      .is-menu .content-wrapper {
        -webkit-transform: translate(274px, 0);
            -ms-transform: translate(274px, 0);
                transform: translate(274px, 0); } }
    @media only screen and (min-width: 1600px) {
      .is-menu .content-wrapper {
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0); } }
    .lt-ie9 .is-menu .content-wrapper {
      position: relative;
      left: 315px; }

.is-menu .header__logo {
  opacity: 0;
  -webkit-transition: opacity .2s linear;
          transition: opacity .2s linear; }

.wrapper {
  overflow: hidden;
  height: auto; }
  .is-homepage .wrapper {
    height: 100%; }
    .is-homepage .wrapper .content-wrapper {
      height: 100%; }

.blog-socials {
  background: #fff; }
  .blog-socials .social__link:hover {
    background: #b5d6ea; }
  @media only screen and (max-width: 550px) {
    .blog-socials:before {
      position: absolute;
      top: -40px;
      background: #fff url(../img/arrowbottom.png) no-repeat 50% 50%;
      height: 30px;
      left: 0;
      right: 0;
      content: ' '; } }
  @media only screen and (max-width: 550px) {
    .blog-socials {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      border-top: 10px solid #b5d6e9; } }

#map {
  background: url(../img/map.png) no-repeat 50% 50%;
  background-size: cover; }

@media only screen and (max-width: 600px) {
  .is-menu #map, .is-menu .header, .is-menu .main__logo, .is-menu .blog, .is-menu .about__content, .is-menu .team, .is-menu .client__center, .is-menu .client__content, .is-menu .client__title, .is-menu .services__text, .is-menu .services__title, .is-menu .nav, .is-menu .product__bg, .is-menu .product__center, .is-menu .horeca__center {
    opacity: 0;
    -webkit-transition: opacity .2s linear;
            transition: opacity .2s linear; } }

/*# sourceMappingURL=screen.css.map */
